:root {
  interpolate-size: allow-keywords;

  /* color */
  /* blck */
  --color-black-base: #1a1a1a;
  --color-black-dark: #0f0f0f;
  --color-black-light: #242424;

  /* white */
  --color-white-light: hsla(0, 0%, 100%, 0.9);
  --color-white-dark: hsla(0, 0%, 96%, 0.8);

  /* text */
  --color-text-primary: #8d8d8d;
  --color-text-secondary: #4d4d4d;
  --color-text-tertiary: #707070;

  /* border */
  --color-border: hsla(0, 0%, 52%, 0.32);

  /* border-radius */
  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 12px;
  --radius-xl: 16px;
  --radius-2xl: 24px;
  --radius-full: 100vmax;

  /* font */
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --font-weight-black: 900;

  /* container */
  --container-md: 800px;

  /* easing */
  --easing-outExpo: cubic-bezier(0.16, 1, 0.3, 1);
}

html {
  font-family: "Nunito Sans", "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-optical-sizing: auto;
  font-variation-settings: "wdth" 100, "YTLC" 500;
  font-size: 62.5%;
  font-feature-settings: "palt";
}
body {
  background-color: var(--color-black-base);
  color: var(--color-text-primary);
  font-size: 1.4rem;
  letter-spacing: 0.05em;
  line-height: 1.6;
  overflow-wrap: anywhere;
  word-break: normal;
  line-break: strict;
}
details::details-content {
  @media (prefers-reduced-motion: no-preference) {
    overflow: clip;
    transition-duration: 300ms;
    transition-property: content-visibility, block-size;
    transition-behavior: allow-discrete;
  }
}
details:not(:open)::details-content {
  block-size: 0;
}

.p-post {
  .p-post__wrapper {
    container: p-post__wrapper / inline-size;
  }
  .p-post__container {
    max-width: 640px;
    margin-inline: auto;
  }
  .p-post__article {
    position: relative;
    padding: 28px;
    border: 1px solid var(--color-border);
    border-radius: var(--radius-lg);
    background-color: var(--color-black-dark);
  }
  .p-post__header {
    display: grid;
    grid-template-columns: 220px 1fr;
    gap: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--color-border);
  }
  .p-post__date {
    display: inline-block;
    padding: 0 16px;
    border: 1px solid var(--color-border);
    border-radius: var(--radius-full);
    background-color: var(--color-black-base);
    color: var(--color-text-tertiary);
    font-size: 1.2rem;
    font-weight: var(--font-weight-medium);
  }
  .p-post__title {
    margin-top: 4px;
    color: var(--color-white-light);
    font-size: 2.2rem;
    font-weight: var(--font-weight-medium);
  }
  .p-post__link {
    display: inline-block;
    text-decoration: underline;
  }
  .p-post__figure img {
    width: 100%;
    border-radius: var(--radius-sm);
  }
  .p-post__body {
    margin-top: 20px;
  }
  .p-post__external {
    width: 80%;
    max-width: 240px;
    margin-inline: auto;
    margin-top: 20px;
  }
  .p-post__bottom {
    margin-top: 32px;
  }
  .p-post__backButton {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 4px;
    width: fit-content;
    margin-inline: auto;
    text-align: center;
    text-decoration: underline;
  }
  @container p-post__wrapper (max-width: 550px) {
    .p-post__header {
      grid-template-columns: 1fr;
      gap: 2cqw;
    }
  }
}
